body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

.wrapper {
    width: 70%; 
    margin: auto; 
}

h1 {
    text-align: center;
    background-color: darkgreen;
    padding: 10px;
}

img {
    max-width: 150px;
    height: auto;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

dl {
    clear: left;
}

dt {
    font-weight: bold;
    font-size: 1.15rem;
    background-color: darkgreen;
  }

dd {
    margin-left: 0;
}